<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenruo.dao.ColumnsMapper">

    <select id="getColumnsDOList" resultType="com.wenruo.model.ColumnsDO">
        SELECT * FROM information_schema.COLUMNS
        WHERE table_schema != 'information_schema'
        <if test="dbName != null">
            AND table_schema = #{dbName}
        </if>
        <choose>
            <when test="tableNameList != null">
                AND table_name IN
                <foreach collection="tableNameList" item="tn" separator=","
                         open="(" close=")">
                    #{tn}
                </foreach>
            </when>
            <when test="tableName != null">
                AND table_name = #{tableName}
            </when>
        </choose>
        ORDER BY table_name ASC
    </select>

</mapper>
